# --- Python & Cache ---
__pycache__/
*.py[cod]

# --- PyInstaller (Build & Dist) ---
build/
dist/

# --- Date Locale & Loguri ---
*.db
chat.db
*.log
server.log
local_users.txt

# --- SECRETE & CHEI (CRITIC: Nu urca astea!) ---
*.key
common_chacha.key
*.pem
chacha_rsa_private.pem
chacha_rsa_public.pem
*.enc
common_chacha.enc

# --- Setari Editor (Optional) ---
.vscode/
.idea/