__pycache__/
*.py[cod]

build/
dist/

*.db
chat.db
*.log
server.log
local_users.txt

*.key
common_chacha.key
*.pem
chacha_rsa_private.pem
chacha_rsa_public.pem
*.enc
common_chacha.enc

.vscode/
.idea/
